body {
  font-family: 'Arial', sans-serif;
  background-color: #2a2a2a;
  color: #333;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

p,li {
  color: #ffffff;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.stats {
  margin-bottom: 20px;
  text-align: left;
}

.stats p {
  margin: 5px 0;
}

.stats ul {
  list-style: none;
  padding: 0;
}

.stats ul li {
  margin: 5px 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.movie-card p {
  margin: 5px 0;
  color: #2a2a2a;
}

.movie-card strong {
  color: #555;
}

.error {
  color: red;
  margin-bottom: 20px;
}
